.app-card-filme {
  transition: color, box-shadow 200ms ease-in-out;

  &:hover {
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.65);
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.65);
    border-color: #d756ac;

    .app-titulo-card {
      color: #d756ac;
    }
    .app-subtitulo-card {
      color: #d756ac;
    }
  }
}

.app-porcentagem-nota {
  background-color: #081c22;
  color: #f3f3f3;
  width: 37px;
  height: 37px;
  position: absolute;
  top: 1%;
  right: 1%;

  .app-valor-porcentagem {
    position: absolute;
    top: 12%;
    left: 18%;
  }

  .app-icone-porcentagem {
    position: absolute;

    bottom: 15%;
    right: 8%;

    font-size: 9px;
  }
}
