<app-barra-busca></app-barra-busca>

<div class="container my-4">
  <app-filmes-favoritos *ngIf="filmesFavoritos.length > 0" [filmes]="filmesFavoritos"></app-filmes-favoritos>

  <h3 class="mt-4">Filmes Populares</h3>

  <section class="row justify-content-start g-3 mt-3">
    <div *ngFor="let filme of filmes" class="col-4 col-lg-2">
      <app-card-filme [filme]="filme"></app-card-filme>
    </div>
  </section>

  <section
    *ngIf="!carregandoListagem"
    aria-label="Paginação"
    class="row justify-content-center mt-4"
  >
    <app-botao-paginacao
      (paginacaoAcionada)="buscarFilmesPopulares()"
      class="col-md-6 col-lg-4 btn btn-lg fw-semibold rounded-pill"
    ></app-botao-paginacao>
  </section>
</div>
