.app-fundo-navbar {
  background: #570341bd;
  background: -webkit-linear-gradient(to right, #f26bde8d, #32014991);
  background: linear-gradient(to right, #67023d8d, #3b014791);
}

.app-titulo-navbar {
  color: #eb2bb7bd;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #2b0123bd;
}
