.app-porcentagem-nota {
  background-color: #081c22;
  color: #f3f3f3;
  width: 37px;
  height: 37px;
  position: absolute;
  top: 1%;
  right: 1%;

  .app-valor-porcentagem {
    position: absolute;
    top: 12%;
    left: 12%;
  }

  .app-icone-porcentagem {
    position: absolute;

    bottom: 15%;
    right: 8%;

    font-size: 9px;
  }
}

.app-botao-gradiente {
  border: none;

  background: linear-gradient(to right, rgba(30, 213, 169, 1) 0%, rgba(1, 180, 228, 1) 100%);
  color: #ffff;
}

  .app-icone-porcentagem {
    position: absolute;
    bottom: 15%;
    right: 8%;
    font-size: 9px;
  }

  .app-borda-nota-mais-baixa {
    border: 3px solid transparent;
    border-top-color: #f62424;
  }

  .app-borda-nota-baixa {
    border: 3px solid transparent;
    border-top-color: #f62424;
    border-right-color: #f62424;
  }

  .app-borda-nota-media {
    border: 3px solid transparent;
    border-top-color: #ffea00;
    border-right-color: #ffea00;
    border-bottom-color: #ffea00;
  }

  .app-borda-nota-alta {
    border: 3px solid #3fe437;
  }
