<div *ngIf="detalhes">
  <div>
    <main class="container py-5">
      <section aria-label="Detalhes do Filme" class="row g-3">

        <div class="col-lg-3">
          <img
            [src]="detalhes.urlPoster"
            alt="Poster de {{ detalhes.titulo }}"
            class="img-fluid rounded-3"
          />
        </div>

        <div class="col">
          <header class="d-flex flex-wrap justify-content-between align-items-top gap-3">
            <div>
              <h1 class="mb-0">{{ detalhes.titulo }}</h1>
              <div class="d-flex flex-wrap align-items-center gap-3 fs-5">
                <small>{{ detalhes.lancamento }}</small>

                <span class="d-flex align-items-center gap-1">
                  •
                  <span><small>{{ detalhes.generos }}</small></span>
                  •
                </span>

              </div>
            </div>

            <div class="d-flex flex-wrap justify-content-between align-items-center gap-3">

              <button
                *ngIf="!detalhes.favorito"
                (click)="alterarStatusFavorito(detalhes.id)"
                title="Favoritar"
                class="btn btn-outline-dark rounded-circle py-1"
              >
                <i class="bi bi-heart fs-3 m-auto"></i>
              </button>

              <button
                *ngIf="detalhes.favorito"
                (click)="alterarStatusFavorito(detalhes.id)"
                title="Remover Favorito"
                class="btn btn-outline-dark rounded-circle py-1"
              >
                <i class="bi bi-heart-fill fs-3 m-auto"></i>
              </button>

              <span
                  [ngClass]="mapearCorDaNota(detalhes.porcentagemNota)"
                  class="app-porcentagem-nota d-flex justify-content-center align-items-center rounded-circle"
                >
                  <span class="app-valor-porcentagem fw-semibold">{{ detalhes.porcentagemNota }}</span>
                </span>
              <strong>Avaliação dos Usuários</strong>
            </div>

          </header>

          <div *ngIf="detalhes.videos.length > 0">
            <article class="ratio ratio-16x9 mt-4">
              <iframe
                class="rounded-3"
                [attr.aria-label]="'Trailer de ' + detalhes.titulo"
                [src]="detalhes.videos[0].sourceUrl"
                type="video/mp4">
              </iframe>
            </article>
          </div>

          <div *ngIf="detalhes.sinopse.length > 0">
            <article class="mt-4">
              <h3>Sinopse</h3>
              <p class="fs-5">{{ detalhes.sinopse }}</p>
            </article>
          </div>

        </div>
      </section>
    </main>
  </div>
</div>

<section *ngIf="detalhes" class="container my-4">
  <h4>Elenco Principal</h4>

  <div id="scrollbar-customizado" class="row flex-nowrap overflow-x-scroll g-2 pb-3 mt-4">
    <div *ngFor="let membro of detalhes.elencoPrincipal" class="col-4 col-lg-2">
      <div class="card rounded-3 h-100">
        <img class="card-img-top" [src]="membro.urlImage" [alt]="membro.nome">

        <div class="card-body px-2">
          <p class="card-title fw-semibold mb-0">{{ membro.nome }}</p>
          <small class="text-secondary text-wrap">{{ membro.papel }}</small>
        </div>
      </div>
    </div>
  </div>
</section>
