<div class="app-banner-busca">
  <div class="app-container-principal container">
    <div class="row gap-3 w-100">
      <header class="col d-grid gap-3 text-light">
        <div>
          <h1 class="fw-bolder fs-1">Bem vindo(a)!</h1>
          <h2 class="fs-3">Milhões de filmes para descobrir. Explore já.</h2>
        </div>

        <form class="d-flex gap-2 input-group">
          <input
            #inputQuery
            type="text"
            placeholder="Buscar por um filme"
            class="form-control py-2 px-3 fs-5 rounded-5"
          />
          <button (click)="buscar(inputQuery.value)" class="app-botao-gradiente rounded-5 px-5 fw-bold" type="button">
            Buscar
          </button>
        </form>
      </header>
    </div>
  </div>
</div>

<div *ngIf="resultadoBusca" class="container my-4">
  <div class="row g-3">
    <div class="col-lg-3">
      <ul class="list-group">
        <li class="app-cabecalho-lista list-group-item active fs-5 fw-bold py-3" aria-current="true">
          Resultados da Busca
        </li>
        <li class="list-group-item d-flex">
          Filmes
          <span class="ms-auto badge bg-secondary d-flex justify-content-center align-items-center">
            {{ resultadoBusca.quantidadeResultados }}
          </span>
        </li>
        <li class="list-group-item d-flex">
          Páginas
          <span class="ms-auto badge bg-secondary d-flex justify-content-center align-items-center">
            {{ resultadoBusca.quantidadePaginas }}
          </span>
        </li>
      </ul>
    </div>
    <div class="col">
      <div class="row g-3">
        <div *ngFor="let filme of resultadoBusca.filmes" class="col-4 col-lg-3">
          <div class="app-card-filme card rounded-3 h-100">

            <a class="stretched-link" [routerLink]="['/filmes', filme.id]"></a>

            <img class="card-img-top" [src]="filme.urlImagem" alt="Card do Filme {{filme.titulo}}" />

            <div class="card-body px-2">

              <span [ngClass]="mapearCorDaNota(filme.porcentagemNota)" class="app-porcentagem-nota rounded-circle py-1 px-2">
                  <span class="app-valor-porcentagem fw-semibold">{{ filme.porcentagemNota }}</span>
                  <i class="app-icone-porcentagem bi bi-percent"></i>
              </span>

              <p class="app-titulo-card card-title text-center fw-semibold mb-0">{{ filme.titulo }}</p>

              <small class="card-subtitulo text-secondary">
                <p class="app-subtitulo-card text-center">{{ filme.lancamento }}</p>
              </small>

            </div>
          </div>
        </div>
      </div>
      <section *ngIf="!maximoPaginaAlcancada" aria-label="Paginação" class="row justify-content-center mt-4">
        <button
          (click)="buscar(inputQuery.value, resultadoBusca.pagina + 1)"
          class="app-botao-gradiente col-md-6 col-lg-4 btn btn-lg fw-semibold rounded-pill"
        >
          Mais Resultados
        </button>
      </section>
    </div>
  </div>
</div>
